.confirm--container{
    padding-top: 20%;
}

.confirm--text{
    text-align: center;
    line-height: 3;
    max-width: 24rem;
    width: 90%;
    flex-direction: column;
    gap:2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    .btn {

        max-width: 170px;
        align-self: center;
    }
}