.home{
   
    padding: 1.75rem 1rem;

    .card--wrapper {
    
        gap: .5rem;
    
        .card--cash{
            position: relative;
            color: #fff;
            cursor: pointer;
            width: 50%;
            transition: transform 200ms ease-in;
    
            &_text{
                font-weight: $header-font-weight;
                font-size: $large-font-size;
                .currency{
                    font-size: $tiny-font-size;
                }
                
            }
            &:hover,&:focus{
                transform: scale(.99);
            }
    
            &::after, &::before{
                content: "";
                position: absolute;
                font-size: $tiny-font-size;
            }
    
            &::after{
                content: url('/public/add.svg');
                background-color: transparent;
                bottom: -1rem;
                right: -0.7rem;
            }
    
            &::before{
                background-color: #fff;
                width: 50px;
                padding: .1rem .2rem;
                top: 0;
                right: -0.2rem;
                box-shadow: $main-box-shadow;
                
            }
        }
    
        .savings{
            background-color: $success-color;
    
            &::before{
                content: "Savings";
                color: $success-color
            
            }
        }
        .loan{
            background-color: $error-color;
            &::before{
                content: "Loan";
                color: $error-color;
            
            }   
        }
    
    
    }

    .transactions{
        margin-top: 4rem;
        position: relative;

        &--deco {
            position: absolute;
            top: -30px;
            left: 0;
            align-items: center;
            padding: .3rem .5rem;
            width: 13.75rem;
            background-color: $accent-color;
            color: #fff;
            box-shadow: $main-box-shadow;
        }
        &--card{
            margin-bottom: 1rem;
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding: .3rem;
            background-color: #fff;
            box-shadow: $main-box-shadow;

            &::after{
                content: "";
                position: absolute;
                width: 30px;
                height: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: $success-color;
            }
        }
        &--amount{
            margin-right: 30px;
        }
    }

}