// font inports 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// basic styles reset

*, *::before, *::after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// common variables
$primary-font-family:'Poppins', sans-serif;


// color setup
$primary-color:#00204C;
$accent-color:#31A592;
$error-color:#A02724;
$success-color:#02AB31;
$dark-color:#263238;
$main-bg-color:#F4FFFC;
// font size setup

$extra-large-font-size:1.5rem;
$large-font-size:1.25rem;
$normal-font-size:1.125rem;
$small-font-size:1rem;
$tiny-font-size:0.75rem;

// font weight settings

$header-font-weight:700;

// body global style settings

// box-shadow setings

$main-box-shadow:0px 4px 4px 0px rgba( 0, 0, 0, 0.25);
$mobile-nav-shadow: -4px 4px 5px 0px rgba(0,0,0,0.25);

body{

    font-family: $primary-font-family;
    font-size: $small-font-size;
    background-color: $main-bg-color;
    color: $primary-color;
}

// common tags styles resets

img{
    max-width: 100%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

h1, h2,h3,h4 {
    font-weight: $header-font-weight;
}

// containers

.wrapper {
    position: relative;
}

.container {

    max-width: 64rem;
    width: 95%;
    margin:  0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex--inline {
    display: inline-flex;
    align-items: center;
    gap: .6rem;
}

.btn {
    
    background:none;
    padding: .2rem;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    cursor: pointer;

}

.btn--submit {
    font-size: $normal-font-size;
    padding: .5rem;
    color: #fff;
    background-color: $primary-color;
    border-radius: 10px;

    transition: transform 200ms ease-in;
    &:hover,
    &:focus{
        transform: scale(1.05);
    }
}


.error {
    font-size: $tiny-font-size;
    color:$error-color;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 92vh;
    background-color: rgba(0,0,0,0.25);

    // define a clip-path wuth a circle shape 

    
}

.shadow--on {

    clip-path: circle(150% at 100% -10%);
    transition: clip-path 350ms ease-in;
}