@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #F4FFFC;
  color: #00204C;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 64rem;
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex--inline {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
}

.btn {
  background: none;
  padding: 0.2rem;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  cursor: pointer;
}

.btn--primary {
  background-color: #00204C;
  color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
}

.btn--submit {
  font-size: 1.125rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #00204C;
  border-radius: 10px;
  transition: transform 200ms ease-in;
}
.btn--submit:hover, .btn--submit:focus {
  transform: scale(1.05);
}

.error {
  font-size: 0.75rem;
  color: #A02724;
}

.accent--text {
  color: #31A592;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.shadow--on {
  -webkit-clip-path: circle(150% at 100% -10%);
          clip-path: circle(150% at 100% -10%);
  transition: -webkit-clip-path 350ms ease-in;
  transition: clip-path 350ms ease-in;
  transition: clip-path 350ms ease-in, -webkit-clip-path 350ms ease-in;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.75rem;
  color: #fff;
  padding: 0.8rem;
  position: fixed;
  top: 10vh;
  left: 50%;
  width: 80%;
  max-width: 270px;
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 90;
}

.warning {
  background-color: #A02724;
}

.fadeOut {
  left: -100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 100;
  background-color: #fff;
}
.header .nav {
  min-height: 8vh;
  align-items: center;
}
.header .nav .brand-logo {
  width: 10rem;
}
.header .nav .cta-btn {
  padding: 0.3rem;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .nav .primary {
  background-color: #00204C;
  margin-right: 0.6rem;
  border-radius: 10px 0 0 10px;
}
.header .nav .secondary {
  background-color: #31A592;
  border-radius: 0px 10px 10px 0px;
}
.header .nav--toggle {
  font-size: 1.5rem;
}
.header .nav-barshadow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  left: 0;
  width: 100%;
  height: 92vh;
  top: 8vh;
  background-color: rgba(49, 165, 146, 0.81);
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  transition: -webkit-clip-path 600ms ease-in;
  transition: clip-path 600ms ease-in;
  transition: clip-path 600ms ease-in, -webkit-clip-path 600ms ease-in;
}
.header .nav-barshadow_on {
  -webkit-clip-path: circle(120% at 100% 0%);
          clip-path: circle(120% at 100% 0%);
  transition: -webkit-clip-path 600ms ease-in;
  transition: clip-path 600ms ease-in;
  transition: clip-path 600ms ease-in, -webkit-clip-path 600ms ease-in;
}
.header .nav-content {
  width: 100%;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.header .nav-links {
  flex-direction: column;
  row-gap: 3rem;
}
.header .nav-links .nav--cta {
  background-color: #31A592;
  color: #fff;
}

.toggle--on {
  opacity: 1;
}

.link-text {
  position: relative;
  width: 100%;
  font-size: 1.25rem;
}

.active {
  color: #fff;
}
.active::before {
  transition: all 100ms ease-in;
  transform: scaleX(1);
}

@media screen and (min-width: 36rem) {
  .nav .cta-btn {
    display: none;
  }
  .nav--toggle {
    display: none;
  }
  .nav-barshadow {
    all: unset !important;
    width: 70% !important;
  }
  .nav-content {
    all: unset !important;
    width: 70% !important;
  }
  .nav-links {
    flex-direction: row !important;
    flex-basis: 2;
    justify-content: space-around;
  }

  .link-text {
    position: relative;
    width: 100%;
  }

  .link-text::before {
    width: 100%;
    left: 0;
    height: 0.4rem;
    top: 5.3vh;
    border-radius: 2px;
  }

  .active {
    color: #31A592;
  }
}
.main {
  margin-top: 8vh;
}
.main .banner--form {
  position: relative;
  flex-direction: column;
}
.main .banner--img {
  width: 100%;
}
.main .card {
  padding: 2.5rem;
  width: 90%;
  max-width: 25rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.main .card--title {
  margin-bottom: 1rem;
}
.main .form--card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .form--card .form {
  flex-direction: column;
  gap: 1rem;
}
.main .form--card .form--element {
  flex-direction: column;
  gap: 0.5rem;
}
.main .form--card .form--texts {
  font-size: 0.875rem;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.main .form--card .form--texts .text {
  display: flex;
  gap: 0.2rem;
}

input {
  color: inherit;
  outline: #00204C;
  padding: 0.5rem;
  border: 2px solid #00204C;
  border-radius: 10px;
}

@media screen and (min-width: 46.25rem) {
  .banner--form {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .form--card {
    position: static !important;
    top: 50%;
    left: 50%;
    transform: none !important;
  }

  .banner {
    padding-top: 1rem;
  }
  .banner--img {
    width: 100%;
    max-width: 28.125rem;
  }
}
.confirm--container {
  padding-top: 20%;
}

.confirm--text {
  text-align: center;
  line-height: 3;
  max-width: 24rem;
  width: 90%;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.confirm--text .btn {
  max-width: 170px;
  align-self: center;
}/*# sourceMappingURL=App.css.map */